.header {
  position: fixed;
  display: block;
  width: 100%;
  background-color: black;
  text-align: center;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  z-index: 10000;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: 10px;
}

.photos-summary {
  display: flex;
  align-content: space-around;
}

#Photos {
  margin-top: 60px;
}

#Summary {
  margin-top: 30px;
}